@import url('https://fonts.googleapis.com/css?family=Calligraffitti&display=swap');

body {
    margin: 0;
}

.container {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 100%;
    max-width: 1920px;
    margin: auto;
}

.bgHome {
    background-image: url("./images/foto1bg.jpg");

    /* Set a specific height */
    min-height: 100vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgHome nav {
    padding-top: 3rem;
    text-align: center;
    display: none;
}

.bgHome nav ul {
    font-family: 'Calligraffitti', cursive;
    margin: 0;
    list-style: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    /* TODO menu borroso en chrome */
}

.bgHome nav ul li {
    display: block;
    margin-right: 3rem;
    font-size: 2rem;
}

.bgHome nav ul li a {
    text-decoration: none;
    color: black;
}

.iconMenu {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
}

@media (min-width: 960px) {

    .bgHome nav {
        display: block;
    }

    .bgHome nav ul {
        position: initial;
        left: initial;
        transform: initial;
    }

    .bgHome nav ul li {
        display: inline;
    }

    .iconMenu {
        display: none;
    }

  }