@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Satisfy&display=swap');

body {
    margin: 0;
    /* background: black; */
    color: #263238;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 100%;
    /* max-width: 1920px; Ya veremos si lo dejo */
    max-width: 1920px;
    margin: auto;
}

.bgHome {
    background-image: url("./images/bg-llamas-humo-5.jpg");
    /* max-width: 1500px; Ya veremos si lo dejo*/
    margin: auto;
    /* Set a specific height */
    min-height: 100vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgHome nav {
    text-align: center;
    display: none;
    z-index: 98;
}

.bgHome nav ul {
    font-family: 'Calligraffitti', cursive;
    margin: 0;
    list-style: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 90;
    background-color: rgba(0, 0, 0, 0.900);
    width: 100%;
    height: 100vh;
    padding-top: 3rem;
    /* TODO menu borroso en chrome */
}

.bgHome nav ul li {
    display: block;
    margin-right: 3rem;
    font-size: 2rem;
    border-bottom: 1px solid white;
    padding: 1rem;
}

.bgHome nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    position: relative;
}

.iconMenu {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
    border-top: 2px white solid;
    border-right: 2px white solid;
    border-top-right-radius: 5px;
    margin: 1rem;
    z-index: 100;
}

.iconMenu:hover {
    border-color: lightslategrey;
}

.inicioImg img, .agendaImg img, .contactoImg img {
    max-width: 100%;
}

.contactoImg {
    background-color: black;
}

.inicio {
    padding: 2rem;
    font-size: 1.8em;
    font-family: 'Satisfy', cursive;
    /* background-color: white; */
}

.videos {
    background-color: black;
}

.container-video {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
    height: 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.text-center {
    text-align: center;
}

iframe {
    display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.galeria {
    background-color: black;
    width: 100%;
    height: 100vh;
}

.galleria{ 
    width: 100%; 
    height: 100%; 
    background: #000 
}

.videos h1 {
    color: white;
    font-family: 'Calligraffitti', cursive;
}

.videos h1:first-of-type {
    margin-top: 16rem;
}

.galeria h1 {
    color: white;
}

.title {
    font-size: 4rem;
    font-family: 'Calligraffitti', cursive;
}

.icon {
    vertical-align: bottom;
}

.agenda, .contacto {
    background-color: white;

}

.contacto img {
    width: 4rem;
    height: 4rem;
}

.contacto .icon-clasicaguitarra, .contacto .icon-gmail {
    width: 4.6rem;
    height: 4.6rem;
}

.contacto div.contacto-grid {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 100%;
    gap: 0;
}

.contacto div.contacto-grid img:first-of-type, .contacto div.contacto-grid a:first-of-type {
    margin-top: 0;
}

.contacto div.contacto-grid img, .contacto div.contacto-grid a {
    align-self: center;
    margin-top: 3.5rem;
}

.contacto div.contacto-grid img {
    justify-self: center;
    padding-right: 1rem;
}

.contacto div.contacto-grid a {
    justify-self: center;
    /* font-family: 'Calligraffitti', cursive; */
    font-family: 'Satisfy', cursive;
    color: gray;
    font-size: 2rem;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.contacto div.contacto-grid a:hover, .agenda a:hover {
    color: #8BB7F0;
    font-size: 2rem;
    border-bottom: 1px solid;
}

.footer {
    background: rgb(38,50,56);
    background: linear-gradient(0deg, rgba(38,50,56,1) 0%, rgba(0,0,0,1) 60%);
    /* background-image: url("./images/bg-llamas-humo-5.jpg"); */
    /* max-width: 1500px; Ya veremos si lo dejo*/
    margin: auto;
    /* Set a specific height */
    min-height: 50vh; 
  
    /* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.icon-up {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 3rem;
    height: 3rem;
    margin: 0 1rem 1rem 0;
    cursor: pointer;
    z-index: 50;
    visibility: hidden;
}

.icon-up:hover {
    width: 3.3rem;
    height: 3.3rem;
}

.icon-spain, .icon-uk {
    position: absolute;
    top: 0;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 99;
}

.icon-spain {
    right: initial;
    left: 4rem;
}

.icon-uk {
    right: initial;
    left: 1rem;
}

#pantallaBloqueo {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #222222;
    z-index: 1000;

    /**/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;

    /*  */
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(124,124,124,1) 35%, rgba(255,255,255,1) 100%); 
}

#pantallaBloqueo img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

#pantallaBloqueo h1 {
    margin-bottom: 5rem;
    color: white;
    font-family: 'Satisfy', cursive;
}

#pantallaBloqueo h2 {
    margin-top: 5rem;
    color: white;
    font-family: 'Satisfy', cursive;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.agenda #imgDisco {
    display: block;
    margin: 2rem auto 2rem auto;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.agenda #imgFace {
    display: block;
    margin: 2rem auto 0.5rem auto;
}

.agenda p, .agenda a {
    font-size: 1.8em;
    font-family: 'Satisfy', cursive;
    margin: 2rem 3rem;
}

.agenda a {
    font-family: 'Satisfy', cursive;
    display: block;
    text-align: center;
    text-decoration: none;
    color: gray;
    font-size: 2rem;
    margin: 0 2rem 4rem 2rem;
    border-bottom: 1px solid transparent;
}

div.titleBgHome {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.titleBgHome h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
    font-family: 'Calligraffitti', cursive;
    font-weight: 100;
}

div.footerGrid {
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
    padding: 10rem 2rem 2rem 2rem;
    font-family: 'Satisfy', cursive;
}

div.footerGrid a, div.footerGrid p {
    font-family: 'Satisfy', cursive;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.item-grid-align-center {
    align-self: center;
    justify-self: center;
}

div.footerGrid .pBorder {
    border-bottom: 1px solid white;
}

div.footerGrid img.iconLenguaje {
    width: 30px;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.pCopyright {
    color: white;
    font-family: 'Satisfy', cursive;
}

#audioBg {
    display: none;
}

#controlAudio {
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: pointer;
    z-index: 100;
    margin: 0 0 0.5rem 0.5rem;
}

@media (min-width: 960px) {

    .container {
        grid-template-columns: 50% 50%;
    }

    .bgHome nav {
        display: block;
        position: fixed;
        width: 100%;
    }

    .bgHome nav ul {
        position: initial;
        left: initial;
        transform: initial;
        background-color: initial;
        width: initial;
        height: initial;
        padding-bottom: 2rem;
    }

    .bgHome nav ul li {
        display: inline;
        border: none;
        padding: initial;
    }

    .bgHome nav ul li a {
        display: inline-block;
    }

    a.linkMenu:after {
        content: '';
        position: absolute;
        left: 0;
        display: inline-block;
        height: 1em;
        width: 100%;
        border-bottom: 1px solid;
        margin-top: 10px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
    }

    a.linkMenu:hover:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .iconMenu {
        display: none;
    }

    .inicioImg, .agendaImg, .contactoImg {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: -1;
    }

    .col-1 {
        grid-column: 1;
    }
    .col-2 {
        grid-column: 2;
    }
    .col-3 {
        grid-column: 3;
    }
    .col-4 {
        grid-column: 4;
    }
    .col-1-2 {
        grid-column: 1 / 3;
    }
    .col-1-4 {
        grid-column: 1 / 5;
    }
    .col-2-3 {
        grid-column: 2 / 4;
    }

    .row-1 {
        grid-row: 1;
    }
    .row-2 {
        grid-row: 2;
    }
    .row-3 {
        grid-row: 3;
    }
    .row-4 {
        grid-row: 4;
    }
    .row-5 {
        grid-row: 5;
    }

    .container-video {
        margin: 6rem;
        padding: 16rem;
    }

    div.container-video:first-of-type {
        margin: 3rem 6rem 6rem 6rem;
    }
    
    .icon-spain {
        left: initial;
        right: 4rem;
    }
    
    .icon-uk {
        left: initial;
        right: 1rem;
    }

    .contacto div.contacto-grid {
        grid-template-columns: 35% auto;
    }

    .contacto div.contacto-grid img {
        justify-self: end;
    }
    
    .contacto div.contacto-grid a {
        justify-self: start;
    }

    div.titleBgHome {
        display: initial;
    }

    div.footerGrid {
        grid-template-columns: auto auto auto auto;
    }

  }